{
    "botToken": "YOUR_CLIENT_ID_HERE",
    "botUrl": "https://discordapp.com/oauth2/authorize?&client_id=YOUR_CLIENT_ID_HERE&scope=bot&permissions=0",
    "mashapeKey": "YOUR_MASHAPE_KEY_HERE"
    "aws": {
        "accessKeyId": "AMAZON_ACCESS_KEY_HERE",
        "secretAccessKey": "AMAZON_SECRET_KEY_HERE",
        "region": "AMAZON_REGION_HERE",
        "baseUrl": "AMAZON_BUCKET_URL_HERE",
        "bucketName": "AMAZON_BUCKET_NAME_HERE"
    }
}